capstone==4.0.2
crosshair-tool==0.0.29
crytic-compile==0.2.2
cytoolz==0.12.0
eth-hash==0.3.3
eth-typing==3.2.0
eth-utils==2.0.0
future==0.18.2
importlib-metadata==4.12.0
importlib-resources==5.9.0
intervaltree==3.1.0
manticore==0.3.7
mypy-extensions==0.4.3
packaging==21.3
ply==3.11
prettytable==3.4.1
protobuf==3.20.2
pyelftools==0.29
pyevmasm==0.2.3
pyparsing==3.0.9
pysha3==1.0.2
PyYAML==6.0
rlp==3.0.0
sortedcontainers==2.4.0
toolz==0.12.0
typeshed-client==2.0.5
typing-extensions==4.3.0
typing-inspect==0.8.0
unicorn==1.0.2
wasm==1.2
wcwidth==0.2.5
z3-solver==4.8.9.0
zipp==3.8.1
